{# vim: set et sta bs=2 sw=4 :#}
<!DOCTYPE html>
<html>
    <head>
        <title>Bezetting Terminalkamers</title>
        <link rel="stylesheet" type="text/css"
            href="{{ MEDIA_URL }}/screen.css" />
        <script type="text/javascript"
            src="{{ MEDIA_URL }}/jquery-1.6.4.min.js">
        </script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}/tkb.js">
        </script>
    </head>
    <body>
        <h1>Bezetting Terminalkamers</h1>
        <div id="list">
        </div>
    </body>
</html>
